aclocal.m4
ar-lib
autom4te.cache/
build-aux/shave
build-aux/shave-libtool
compile
config.guess
config.h
config.h.in
config.h.in~
config.log
config.status
config.sub
configure
depcomp
foo.h
foo.h.in
install-sh
*.la
libfyaml.pc
libtool
*.lo
ltmain.sh
m4/libtool.m4
m4/lt~obsolete.m4
m4/ltoptions.m4
m4/ltsugar.m4
m4/ltversion.m4
Makefile
Makefile.in
missing
*.o
output/
sphinx/
src/.deps/
src/.libs/
src/version/.deps/
src/version/.libs/
src/libfyaml-version
src/inprogram/.deps/
src/inprogram/.libs/
src/libfyaml-inprogram
stamp-h1
tags
TAGS
tap-driver.sh
*.dirstamp
libfyaml-examples-*.tar.gz
.version
.tarball-version
